:root {
    --bg: #3db1c8;
    --hoverbg: #27899d;
}

* {
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}